$primary:#007bff;
$primary-active:#044994;
$info:#17a2b8;
$info-active:#0b889b;
$danger:#dc3545;
$danger-active:#b92635;
$success:#28a745;
$success-active:#105a21;
$white:white;
$white-active:rgb(214, 209, 209);
$dark:#21130d;
$dark-active:#494847;
$orange-leboncoin: #ff6e14;
$orange-leboncoin-active: #be4a03;
$blue-facebook:#4867aa;
$blue-facebook-active:#2c4988;
$blue-twitter:#1da1f3;
$blue-twitter-active:#065c91;
$transparent:transparent;
$transparent-active:white;
$warning:#f7d152;
$warning-active:#ecdb55;
$info-rgba-url:"30,129,176";
$opacity:",0.75";