*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  width: 100%;
}

.row, .navbar, .navbar-nav {
  display: flex;
  flex-wrap: wrap;
}

.row, .navbar-nav {
  flex-direction: row;
}

.btn, .btn.active,
.btn:active, .btn-primary:active,
.btn-primary.active, .btn-danger:active,
.btn-danger.active, .btn-info:active,
.btn-info.active, .btn-blue-twitter:active,
.btn-blue-twitter.active, .btn-orange-leboncoin:active,
.btn-orange-leboncoin.active, .btn-success:active,
.btn-success.active, .btn-white:active,
.btn-white.active, .btn-dark:active,
.btn-dark.active {
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.btn:hover {
  -webkit-filter: brightness(40%);
  transition: 0.3s;
}

.navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255, 0.55);
  --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.row {
  width: 100%;
  margin: 0;
  width: 100%;
  margin-top: 1.5rem;
}

.container {
  width: 100%;
  padding-top: 0;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container-fluid {
  width: 100%;
  padding-top: 0;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.btn {
  border-radius: 0.375rem;
  color: #212529;
  padding: 0.375rem 0.75rem;
  border: 2px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  font-weight: 600;
  background-color: transparent;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn.active,
.btn:active {
  border-radius: 0.375rem;
  color: white;
  padding: 0.375rem 0.75rem;
  border: 2px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  font-weight: 400;
  background-color: #494847;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: 0.3s;
}

.btn:disabled,
.disabled {
  pointer-events: none;
  opacity: 0.65;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:active,
.btn-primary.active {
  border-radius: 0.375rem;
  color: #007bff;
  padding: 0.375rem 0.75rem;
  border: 2px solid #007bff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  font-weight: 600;
  background-color: #044994;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: 0.3s;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:active,
.btn-danger.active {
  border-radius: 0.375rem;
  color: #dc3545;
  padding: 0.375rem 0.75rem;
  border: 2px solid #dc3545;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  font-weight: 600;
  background-color: #b92635;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: 0.3s;
}

.btn-info {
  background-color: #17a2b8;
  color: white;
  box-shadow: rgb(130, 138, 145);
}

.btn-info:active,
.btn-info.active {
  border-radius: 0.375rem;
  color: #17a2b8;
  padding: 0.375rem 0.75rem;
  border: 2px solid #17a2b8;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  font-weight: 600;
  background-color: #0b889b;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: 0.3s;
}

.btn-blue-twitter {
  background-color: #1da1f3;
  color: white;
  box-shadow: rgb(130, 138, 145);
}

.btn-blue-twitter:active,
.btn-blue-twitter.active {
  border-radius: 0.375rem;
  color: #1da1f3;
  padding: 0.375rem 0.75rem;
  border: 2px solid #1da1f3;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  font-weight: 600;
  background-color: #065c91;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: 0.3s;
}

.btn-orange-leboncoin {
  background-color: #ff6e14;
  color: white;
}

.btn-orange-leboncoin:active,
.btn-orange-leboncoin.active {
  border-radius: 0.375rem;
  color: #ff6e14;
  padding: 0.375rem 0.75rem;
  border: 2px solid #ff6e14;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  font-weight: 600;
  background-color: #be4a03;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: 0.3s;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-success:active,
.btn-success.active {
  border-radius: 0.375rem;
  color: #28a745;
  padding: 0.375rem 0.75rem;
  border: 2px solid #28a745;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  font-weight: 600;
  background-color: #105a21;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: 0.3s;
}

.btn-white {
  background-color: white;
  color: #21130d;
}

.btn-white:active,
.btn-white.active {
  border-radius: 0.375rem;
  color: white;
  padding: 0.375rem 0.75rem;
  border: 2px solid white;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  font-weight: 600;
  background-color: rgb(214, 209, 209);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: 0.3s;
}

.btn-dark {
  background-color: #21130d;
  color: white;
}

.btn-dark:active,
.btn-dark.active {
  border-radius: 0.375rem;
  color: #21130d;
  padding: 0.375rem 0.75rem;
  border: 2px solid #21130d;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  font-weight: 600;
  background-color: #494847;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: 0.3s;
}

.btn-info:hover,
.btn-primary:hover,
.btn-danger:hover,
.btn-blue-twitter:hover,
.btn-dark:hover,
.btn-orange-leboncoin:hover,
.btn-success:hover,
.btn-white:hover {
  -webkit-filter: brightness(90%);
  transition: 0.3s;
}

.bg-danger {
  background-color: #dc3545;
}

.bg-primary {
  background-color: #007bff;
}

.bg-info {
  background-color: #17a2b8;
}

.bg-success {
  background-color: #28a745;
}

.bg-blue-twitter {
  background-color: #1da1f3;
}

.bg-orange-leboncoin {
  background-color: #ff6e14;
}

.bg-white {
  background-color: white;
}

.bg-blue-facebook {
  background-color: #4867aa;
  color: white;
  box-shadow: rgb(130, 138, 145);
}

.text-white {
  color: white;
}

.text-error {
  color: #dc3545;
}

.text-dark {
  color: #21130d;
}

.text-blue-twitter {
  color: #1da1f3;
}

.text-blue-facebook {
  color: #4867aa;
}

.text-orange-leboncoin {
  color: #ff6e14;
}

.text-success {
  color: #28a745;
}

.text-muted {
  color: #21130d;
  opacity: 0.65;
  font-weight: 600;
}

.img-responsive {
  filter: none;
  border-radius: 0%;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.img-rounded {
  filter: none;
  border-radius: 50%;
  width: auto;
  max-width: auto;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #494847;
  border-radius: 0.375rem;
  max-width: 100%;
  height: auto;
}

.img-blur {
  filter: blur(1.5rem);
  border-radius: 0%;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.alert-success {
  border: 2px solid #28a745;
  background-color: #105a21;
  transition: 0.3s;
  border-radius: 0.375rem;
  padding: 0.5rem 0.375rem;
  color: white;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: 1px;
  opacity: 0.65;
}

.alert-info {
  border: 2px solid #17a2b8;
  background-color: #0b889b;
  transition: 0.3s;
  border-radius: 0.375rem;
  padding: 0.5rem 0.375rem;
  color: white;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: 1px;
  opacity: 0.65;
}

.alert-warning {
  border: 2px solid #f7d152;
  background-color: #ecdb55;
  transition: 0.3s;
  border-radius: 0.375rem;
  padding: 0.5rem 0.375rem;
  color: white;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: 1px;
  opacity: 0.65;
}

.alert-danger {
  border: 2px solid #b92635;
  background-color: #dc3545;
  transition: 0.3s;
  border-radius: 0.375rem;
  padding: 0.5rem 0.375rem;
  color: white;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: 1px;
  opacity: 0.65;
}

.alert {
  border: 2px solid transparent;
  background-color: transparent;
  transition: 0.3s;
  border-radius: 0.375rem;
  padding: 0.5rem 0.375rem;
  color: black;
  font-weight: 600;
  word-spacing: 2px;
  letter-spacing: 1px;
  opacity: 0.65;
}

@media (max-width: 1320px) {
  .hidden-xxl {
    display: none;
    visibility: hidden !important;
  }
}

@media (max-width: 1140px) {
  .hidden-xl {
    display: none;
    visibility: hidden !important;
  }
}

@media (max-width: 960px) {
  .hidden-lg {
    display: none;
    visibility: hidden !important;
  }
}

@media (max-width: 720px) {
  .hidden-md {
    display: none;
    visibility: hidden !important;
  }
}

@media (max-width: 540px) {
  .hidden-sm {
    display: none;
    visibility: hidden !important;
  }
}

@media (max-width: 1320px) {
  .visible-xxl {
    display: "";
    visibility: visible !important;
  }
}

@media (max-width: 1140px) {
  .visible-xl {
    display: "";
    visibility: visible !important;
  }
}

@media (max-width: 960px) {
  .visible-lg {
    display: "";
    visibility: visible !important;
  }
}

@media (max-width: 720px) {
  .visible-md {
    display: "";
    visibility: visible !important;
  }
}

@media (max-width: 540px) {
  .visible-sm {
    display: "";
    visibility: visible !important;
  }
}

@media print {
  .visible-print {
    display: "";
    visibility: visible !important;
  }
}

@media print {
  .hidden-print {
    display: none;
    visibility: hidden !important;
  }
}

.navbar {
  width: auto;
  margin: auto;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: "white";
  color: "black";
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav {
  width: auto;
  margin: auto;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: "white";
  color: "black";
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark {
  background-color: #494847;
}

.nav-item {
  list-style: none;
  margin: 0 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: #21130d;
}

.navbar-toggler {
  width: 2.5em;
  height: 2.5em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2830,129,176,0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-color: white;
  border-radius: 0.25rem;
  border: none;
}

.navbar-brand {
  width: 2.5em;
  height: 2.5em;
}/*# sourceMappingURL=main.css.map */